<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Item">
    <insert id="save" parameterType="item">
        insert into item_table (memberId, itemName, itemPrice,itemCreatedTime, itemFileName)
values (#{memberId}, #{itemName}, #{itemPrice}, now(), #{itemFileName})
    </insert>
    <select id="findAll" resultType="item">
        select * from item_table order by itemCreatedTime desc;
    </select>
    <select id="count" resultType="int">
        select count(pid) from item_table
    </select>
    <select id="pagingList" parameterType="java.util.HashMap" resultType="item">
    select * from item_table order by pid desc limit #{start}, #{limit}
    </select>
    <select id="findById" parameterType="Long" resultType="item">
        select * from item_table where pid=#{pid}
    </select>
    <delete id="delete" parameterType="Long">
        delete from item_table where pid =#{pid}
    </delete>
</mapper>